<div class="row flex-column">
    <form class="job-form w-100">
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label>Name*</label>
                    <input type="text" class="form-control rounded-0 py-1">
                </div>
                <div class="col-md-6">
                    <label>Code*</label>
                    <input type="text" class="form-control rounded-0 py-1">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Short Description*</label>
            <input type="text" class="form-control rounded-0 py-1">
        </div>
        <div class="form-group">
            <label>Long Description</label>
            <textarea class="form-control rounded-0 py-1"></textarea>
        </div>
        <div class="form-group">
            <label class="checkbox cursor-pointer font-weight-normal"><input type="checkbox" class="d-none">
                <i class="d-inline-block border align-middle mr-1"></i> Is Active ?</label>
        </div>
        <div class="form-group">
            <button nz-button nzType="success" class="font-semi-bold px-3 py-1 h-auto">
                <i class="align-middle" nz-icon nzType="check"></i> Add Job Profile</button>
                <button nz-button nzType="error" class="ml-3 font-semi-bold px-3 py-1 h-auto btn-error">
                    <i class="align-middle" nz-icon nzType="close"></i> Cancel</button>
        </div>
    </form>
</div>