.job-form{
    label{
        font-weight: 600;
        margin-bottom: 4px;
    }       
    .badge{
        bottom: 1px;
        right: 6px;
        height: 23px;
        border-color: #aecadf !important;
        background: #f4f4f4;
        font-size: 100%;
    }
}