<h5 class="border-bottom p-3 d-flex">Team </h5>
<div class="container-fluid">
    <div class="w-75 border p-3 theme-border m-3">
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr>
                        <td>
                            <select class="form-control border-0">
                                <option value="">Role</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control border-0">
                                <option value="">User</option>
                            </select>
                        </td>
                        <td><i class="ml-2 text-error cursor-pointer" nz-icon nzType="close-circle"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control border-0">
                                <option value="">Role</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control border-0">
                                <option value="">User</option>
                            </select>
                        </td>
                        <td><i class="ml-2 text-error cursor-pointer" nz-icon nzType="close-circle"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control border-0">
                                <option value="">Role</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control border-0">
                                <option value="">User Two</option>
                            </select>
                        </td>
                        <td><i class="ml-2 text-error cursor-pointer" nz-icon nzType="close-circle"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>