<h5 class="px-3 border-bottom pb-3 mt-3 mb-0">
    Add Jobs
</h5>
<div class="container-fluid">
    <ul class="nav nav-tabs border-0 ml-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/administration/jobs/profiles']" routerLinkActive="active">Job Profiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/administration/jobs/openings']" routerLinkActive="active">Job Openings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/administration/jobs/access']" routerLinkActive="active">Access</a>
        </li>
    </ul>
    <div class="tab-content border" id="myTabContent">
        <router-outlet></router-outlet>
    </div>
</div>