<section class="h-100vh d-flex align-items-center">
    <div class="container text-center">
        <a href=""><img src="assets/images/logo.png" /></a>
        <div class="card mt-4 sm-card p-3 rounded bg-white shadow-sm mx-auto">
            <h1 class="h4">StarRecuiter</h1>
            <h6 class="font-weight-normal">Reset Your Password</h6>
            <form id="resetForm" [formGroup]="myForm" class="login-form text-left" autocomplete="off">
                <div class="form-group position-relative">
                    <input type="password" formControlName="newPassword"
                        class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom" />
                    <label class="position-absolute">New Password</label>
                </div>
                <div class="form-group position-relative">
                    <input type="password" formControlName="confirmPassword"
                        class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom" />
                    <label class="position-absolute">Confirm Password</label>
                </div>
                <button nz-button nzType="primary" nzBlock (click)="onSubmit()" type="submit" [nzLoading]="isLoading"
                    class="font-semi-bold">Reset Password</button>
            </form>
        </div>
    </div>
</section>