<ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="activeTab === 'resume-screens'">
        <h6 class="theme-color d-flex m-0 align-items-center">Abhishek Gautam
            <div class="action-buttons ml-auto">
                <i nz-icon nzType="mail" class="align-middle theme-color cursor-pointer"></i>
                <i nz-icon nzType="edit" class="align-middle theme-color cursor-pointer mx-2"></i>
                <i nz-icon nzType="printer" class="align-middle theme-color cursor-pointer"></i>
            </div>
        </h6>
        <div class="row mt-2">
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Location: <small>Gurgaon</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Experience: <small>3 Years</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Current Salary: <small>6 LPA</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                </p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Notice period: <small>1 Month</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Email: <small>abhi@abcd.com</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Phone: <small>9876543210</small></p>
            </div>
            <div class="col-md-12">
                <p class="font-semi-bold m-0 mt-3 skills">Skill:
                    <small>Angular</small>
                    <small>Stack</small>
                    <small>Frontend Developer</small>
                    <small>Android</small>
                    <small>Java</small>
                </p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="activeTab === 'telephonic-screens'">
        <h6 class="theme-color d-flex m-0 align-items-center">Abhishek Gautam
            <div class="action-buttons ml-auto">
                <i nz-icon nzType="mail" class="align-middle theme-color cursor-pointer mr-2"></i>
                <i nz-icon nzType="printer" class="align-middle theme-color cursor-pointer"></i>
            </div>
        </h6>
        <div class="form-row mt-2">
            <div class="col">
                <p class="font-semi-bold m-0">Location: <small>Gurgaon</small></p>
            </div>
            <div class="col">
                <p class="font-semi-bold m-0">Phone: <small>9876543210</small></p>
            </div>
            <div class="col">
                <p class="font-semi-bold m-0">Email: <small>abhi@abc.com</small></p>
            </div>
            <div class="col">
                <p class="font-semi-bold m-0">
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                </p>
            </div>
            <div class="col"></div>
            <div class="col-md-12">
                <div class="form-row align-items-end my-3">
                    <div class="col">
                        <label class="font-semi-bold">Notice period</label>
                        <input type="text" value="1 Month" class="form-control">
                    </div>
                    <div class="col">
                        <label class="font-semi-bold">Experince</label>
                        <input type="text" value="3 Years" class="form-control">
                    </div>
                    <div class="col">
                        <label class="font-semi-bold">Current Salary</label>
                        <input type="text" value="6 LPA" class="form-control">
                    </div>
                    <div class="col">
                        <label class="font-semi-bold">Expected Salary</label>
                        <input type="text" value="6 LPA" class="form-control">
                    </div>
                    <div class="col">
                        <button nz-button nzType="primary" class="font-semi-bold light-blue py-1px h-auto px-3">
                            Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="font-semi-bold m-0 mt-3 skills">Skill:
                    <small>Angular</small>
                    <small>Stack</small>
                    <small>Frontend Developer</small>
                    <small>Android</small>
                    <small>Java</small>
                </p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="activeTab === 'interviews'">
        <h6 class="theme-color d-flex m-0 align-items-center">Abhishek Gautam
            <div class="action-buttons ml-auto">
                <i nz-icon nzType="mail" class="align-middle theme-color cursor-pointer"></i>
                <i nz-icon nzType="edit" class="align-middle theme-color cursor-pointer mx-2"></i>
                <i nz-icon nzType="printer" class="align-middle theme-color cursor-pointer"></i>
            </div>
        </h6>
        <div class="row mt-2">
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Location: <small>Gurgaon</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Experience: <small>3 Years</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Current Salary: <small>6 LPA</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Expected Salary: <small>6 LPA</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Notice period: <small>1 Month</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Email: <small>abhi@abcd.com</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">Phone: <small>9876543210</small></p>
            </div>
            <div class="col-md-3">
                <p class="font-semi-bold m-0">
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                    <i class="align-middle mr-1 fa fa-star-o mr-1"></i>
                </p>
            </div>
            <div class="col-md-12">
                <p class="font-semi-bold m-0 mt-3 skills">Skill:
                    <small>Angular</small>
                    <small>Stack</small>
                    <small>Frontend Developer</small>
                    <small>Android</small>
                    <small>Java</small>
                </p>
            </div>
        </div>
    </ng-container>
</ng-container>