<div class="responsive-table">
    <table class="table">
        <thead>
            <tr>
                <th>Job</th>
                <th>Role</th>
                <th>Access</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="text-light-blue">
                    IOS Developer
                </td>
                <td>
                    <select class="form-control border-0">
                        <option value="">Interviewer</option>
                    </select>
                </td>
                <td>
                    <select class="form-control border-0">
                        <option value="">Super Admin</option>
                    </select>
                </td>
                <td>
                    <i class="ml-2 text-error cursor-pointer" nz-icon nzType="close-circle"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button  nz-button nzType="primary" class="font-semi-bold light-blue py-1 h-auto px-3">
        <i class="" nz-icon nzType="plus"></i>Add Permissions</button>