<div class="responsive-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th *ngFor="let col of tableColumns">{{col[0] === 'dropDown' ? '' : col[0]}}</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr *ngFor="let row of candidates">
                <td *ngFor="let col of tableColumns">
                    <label *ngIf="col[1] === 'name' && nameWithCheckbox"
                        class="text-light-blue checkbox cursor-pointer">
                        <input type="checkbox"><i class="mr-2 align-middle"></i>
                        {{row[col[1]]}}
                    </label>
                    <a (click)="activeCandidate(row.id)" *ngIf="col[1] === 'name' && !nameWithCheckbox" class="text-light-blue cursor-pointer">
                        {{row[col[1]]}}
                    </a>
                    <span *ngIf="col[1] != 'name'">{{col[1] === 'rating' ? '' : row[col[1]]}}</span>
                    <span *ngIf="col[1] === 'rating'">
                        <i class="fa fa-star mr-1" *ngFor="let star of isRating(row[col[1]])"></i>
                        <i class="fa fa-star-o mr-1" *ngFor="let star of emptyRating(row[col[1]])"></i>
                    </span>
                    <span *ngIf="col[0] === 'dropDown'">
                        <i class="cursor-pointer dropdown-toggle" data-toggle="dropdown" nz-icon nzType="more"></i>
                        <div class="dropdown-menu dropdown-menu-right rounded-0 shadow border">
                            <a class="dropdown-item" href="#">Rejected</a>
                            <a class="dropdown-item" href="#">Move to Interview</a>
                            <a class="dropdown-item" href="#">Move to Interview job</a>
                            <a class="dropdown-item" href="#">Blacklist</a>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>