<div class="form-group w-75">
    <textarea class="form-control mb-3"></textarea>
    <button [routerLink]="['add-user']" nz-button nzType="primary" class="font-semi-bold light-blue py-1 h-auto px-3">
        <i class="" nz-icon nzType="plus"></i>Add Notes</button>
</div>
<ul class="notes pl-4 w-75">
    <li>
        <p class="m-0"><strong>User Name</strong></p>
        <p class="mb-2">Posted: Sep,05,2019 <span class="text-muted ml-4 d-inline-block">Time: 1:30 PM</span></p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,
        </p>
    </li>
    <li>
        <p class="m-0"><strong>User Name Two</strong></p>
        <p class="mb-2">Posted: Sep,05,2019 <span class="text-muted ml-4 d-inline-block">Time: 1:30 PM</span></p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text.
        </p>
    </li>
</ul>