<section class="h-100vh d-flex align-items-center">
    <div class="container text-center">
        <a href=""><img src="assets/images/logo.png" /></a>
        <div class="card mt-4 sm-card p-3 rounded bg-white shadow-sm mx-auto">
            <h1 class="h4">StarRecuiter</h1>
            <h6 class="font-weight-normal">Forgot Password?</h6>
            <p>Please enter your email address below and you will receive an email with instructions on how to reset
                your password.</p>
            <form id="passwordForm" [formGroup]="myForm" class="login-form text-left" autocomplete="off">
                <div class="form-group position-relative">
                    <input nz-input type="email" formControlName="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom" />
                    <label class="position-absolute">Email</label>
                    <div *ngIf="myForm.controls.email.touched && myForm.controls.email.invalid" class="error-msg mt-1">
                        <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> Email is
                        required</div>
                </div>
                <button nz-button nzType="primary" nzBlock (click)="onSubmit()" type="submit" [nzLoading]="isLoading"
                    class="font-semi-bold">Submit</button>
                <button nz-button nzType="default" nzBlock class="font-semi-bold mt-2"
                    (click)="onCancel()">Cancel</button>
            </form>
        </div>
    </div>
</section>