<div class="container-fluid p-0">
    <div class="row no-gutters h-100vh">
        <div class="col-md-9">
            <h5 class="px-3 d-flex border-bottom pb-3 justify-content-between mt-3 mb-0">
                <div>Hiring Trend <small>(last <a (click)="showTimeFrame()" class="text-light-blue">14 months</a> )</small></div>
                <small>Top Resume Source</small>
            </h5>
            <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
            <div class="joblist p-3 mt-4">
                <h5 class="section-title">All Jobs</h5>
                <ul class="list-unstyled m-0 bg-white rounded">
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">IOS Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Full Stack Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Android Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Angular Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">IOS Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Full Stack Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Android Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex justify-content-between p-2 px-3 border-bottom" href="#">
                            <span>
                                <i nz-icon nzType="eye-invisible" class="text-muted"></i>
                                <i class="mx-2" nz-icon nzType="idcard"></i>
                                <a [routerLink]="['/administration/jobs/',2]" class="text-light-blue align-middle">Angular Developer</a>
                            </span>
                            <span>
                                Opening: <span class="text-light-blue">5</span>,
                                Hired: <span class="text-light-blue">4</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar h-100 p-3">
                <button (click)="addJob()" nz-button nzType="primary" class="font-semi-bold light-blue px-3">
                    <i class="mr-1" nz-icon nzType="plus"></i> Add New Job</button>
                <p class="mt-3 mb-2">You have 3 outstanding offers</p>
                <h6 class="section-title theme-color">Extended Offers</h6>

                <ul class="list-unstyled m-0 p-0">
                    <li class="pb-2 border-bottom mb-2">
                        <strong>Abhishek Gautam</strong>
                        <p class="m-0">Full Stack Developer</p>
                        <p class="m-0">Joining Date: 21-Nov-2019</p>
                    </li>
                    <li class="pb-2 border-bottom mb-2">
                        <strong>Abhishek Gautam</strong>
                        <p class="m-0">Full Stack Developer</p>
                        <p class="m-0">Joining Date: 21-Nov-2019</p>
                    </li>
                    <li class="pb-2 border-bottom mb-2">
                        <strong>Abhishek Gautam</strong>
                        <p class="m-0">Full Stack Developer</p>
                        <p class="m-0">Joining Date: 21-Nov-2019</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>