<section class="h-100vh d-flex align-items-center py-5">
    <div class="container text-center">
        <a href=""><img src="../../../assets/images/logo.png" /></a>
        <div class="card mt-4 md-card p-3 rounded bg-white shadow-sm mx-auto">
            <h1 class="h4">StarRecuiter</h1>
            <h6 class="font-weight-normal mb-4">Create Your Account</h6>

            <nz-alert class="mb-3 text-left d-none" nzType="success" nzMessage="Success!"
                nzDescription="Email/Login or Password is incorrect, Please try again.">
            </nz-alert>

            <form id="loginForm" [formGroup]="myForm" class="login-form" autocomplete="off">
                <h6 class="text-left">Company Details</h6>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="companyName"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Company Name</label>
                            <div *ngIf="myForm.controls.companyName.touched && myForm.controls.companyName.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Company Name
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="registeredName"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Registered Name</label>
                            <div *ngIf="myForm.controls.registeredName.touched && myForm.controls.registeredName.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Company's Registered Name
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="email" formControlName="companyEmail"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Company Email</label>
                            <div *ngIf="myForm.controls.companyEmail.touched && myForm.controls.companyEmail.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline"
                                    class="align-middle mr-1"></i>Company's Email
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="companyPhone"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Company Phone</label>
                            <div *ngIf="myForm.controls.companyPhone.touched && myForm.controls.companyPhone.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline"
                                    class="align-middle mr-1"></i>Company's Phone
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="address"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Address</label>
                            <div *ngIf="myForm.controls.address.touched && myForm.controls.address.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Address
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="landmark"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Landmark</label>
                            <div *ngIf="myForm.controls.landmark.touched && myForm.controls.landmark.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Landmark
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="city"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">City</label>
                            <div *ngIf="myForm.controls.city.touched && myForm.controls.city.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> City
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="state"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">State</label>
                            <div *ngIf="myForm.controls.state.touched && myForm.controls.state.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> State
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="zipCode"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Zip Code</label>
                            <div *ngIf="myForm.controls.zipCode.touched && myForm.controls.zipCode.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> Zip
                                Code
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <h6 class="text-left">Company Admin Details</h6>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="firstName"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">First Name</label>
                            <div *ngIf="myForm.controls.firstName.touched && myForm.controls.firstName.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> First
                                Name
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="lastName"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="email" formControlName="email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Email</label>
                            <div *ngIf="myForm.controls.email.touched && myForm.controls.email.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> Email
                                is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="text" formControlName="phone"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Phone</label>
                            <div *ngIf="myForm.controls.phone.touched && myForm.controls.phone.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i> Phone
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="password" formControlName="password"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Password</label>
                            <div *ngIf="myForm.controls.password.touched && myForm.controls.password.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Password is
                                required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group position-relative">
                            <input nz-input type="password" formControlName="confirmPassword"
                                class="pl-0 bg-transparent form-control rounded-0 border-0 border-bottom"
                                placeholder="" />
                            <label class="position-absolute">Confirm Password</label>
                            <div *ngIf="myForm.controls.confirmPassword.touched && myForm.controls.confirmPassword.invalid"
                                class="error-msg mt-1">
                                <i nz-icon nzType="close-circle" nzTheme="outline" class="align-middle mr-1"></i>
                                Confirm Password
                                is
                                required</div>
                        </div>
                    </div>
                </div>
                <button [disabled]="myForm.invalid" nz-button nzType="primary" nzBlock (click)="onSubmit()"
                    type="submit" [nzLoading]="isLoading" class="font-semi-bold w-50">Sign Up</button>
            </form>
        </div>
    </div>
</section>