<section class="h-100vh d-flex align-items-center">
    <div class="container text-center">
        <!-- <a href=""><img src="assets/images/logo.png" /></a> -->
        <div class="card mt-4 md-card p-3 rounded bg-white shadow-sm mx-auto">
            <h1 class="text-error font-weight-bold">
                <i nz-icon nzType="bug" class="align-middle"></i>
                404
            </h1>
            <h5>Page Not Found</h5>
            <p>We're sorry but the page you requested could not be found. Please go back to the homepage or contact us
                at <a href="mailto:support@abc.com"><ins>support@abc.com</ins></a> .</p>
            <button [routerLink]="['/']" nz-button nzType="primary" class="font-semi-bold mx-auto w-50"><i nz-icon
                    nzType="home" class="align-middle"></i> Go to the Homepage</button>
        </div>
    </div>
</section>