.form-control{
    border-color: #aecadf ;
    height: 25px;
    padding: 0 5px;
    border-radius: 0px;
}
textarea.form-control{
    height: 100px;
    resize: none
} 
.login-form{
    label.position-absolute{
        left: 0;
        top: 0;
        margin: 0;
        font-size: 15px;
        pointer-events: none;
        transition: all ease-in-out 0.4s;
        transform: scale(1) translateY(10px);
        transform-origin: left center;
    }
    label.position-absolute.active{
        transform: scale(0.85) translateY(-12px);
        transform-origin: left center;
    }
    .form-control.border-bottom{
        border-bottom: 1px solid #DDD !important;
        font-weight: 500;
        color: #222;
        height: auto;
        padding: .375rem .75rem;
        font-size: 14px;
    }
}
.checkbox{
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 0;
    i{
        height: 14px;
        width: 14px;
        border:1px solid #989c9f !important;
        position: relative;
        display: inline-block;
        transition: all ease-in-out 0.2s;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin:auto;
            height: 8px;
            width: 8px;
            background: #4179a0;
            transform: scale(0.5);
            opacity: 0;
            transition: all ease-in-out 0.2s;
        }
    }
    input{
        display: none
    }
    input:checked + i{
        border-color: #4179a0 !important;
          &:before{
            transform: scale(1);
            opacity: 1; 
          }        
    }
}
.radioButton{
    font-weight: 500;
    i{
        display: inline-block;
        position: relative;
        height: 14px;
        width: 14px;
        border-radius: 100%;
        border: 1px solid #979797;
        background: #fff;
        vertical-align: middle;
        margin-right: 5px;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: block;
            height: 6px;
            width: 6px;
            border-radius: 100%;
            background: #979797;
            opacity: 0;
            transform: scale(0.7);
            transition: all ease-in-out 0.3s;
        }
    }
    input{
        display: none
    }
    input:checked + i:after{
        opacity: 1;
        transform: scale(1);
    }
}
.form-control.ng-invalid.ng-touched {
    border-color: rgba(228, 3, 72, 0.47) !important;
}
select.form-control{
    appearance: none;
    background:#fff url('./assets/images/drop-down.png') no-repeat 98% 10px;
    padding-right: 20px;
}
select.form-control.border-0{
    width: auto;
    padding-left: 0;
    background-position-y: 12px;
}